@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Cabeçalho */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    
}

ul{
    display: flex;
    gap: 10px;
}

li{
    list-style-type: none;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #3A404E;
}

.logo img{
    width: 27,99px;
    height: 29px;
}

.links a{
    color: #667085;
    text-decoration: none;
    margin-right: 2em;
}



.botoes :first-child{
    border: none;
    background-color: white;
    color: #667085;
    width: 80px;
    height: 40px;
}

.botoes :last-child{
    background: #8E2424;
    border: none;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 35px;
}

/* Primeira seção */


.sobre{
    text-align: center;
    height: 23em;
    justify-content: center;
    border: 2px solid black;
    padding: 2em;
}

.sobre-nos{
    color: #8E2424;
}

.sobre-titulo{
    color: #101828;
}

.sobre-texto{
    color: #667085;
    font-size: 20px;
    margin-left: 22%;
    margin-right: 22%;
}


